.delete-button {
  position: absolute;
  top: -20px;
  right: -15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  z-index: 100;
}

.element-wrapper:hover .delete-button {
  display: block;
}

.carousel-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
